@model GradeHorarios.Models.OfertaSala

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OfertaSala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CadastroSala.NomeSala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CadastroSala.NomeSala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CadastroSemestre.PeriodoLetivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CadastroSemestre.PeriodoLetivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OfertaSalaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
