@model IEnumerable<GradeHorarios.Models.OfertaSala>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CadastroSala.NomeSala)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CadastroSemestre.PeriodoLetivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CadastroSala.NomeSala)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CadastroSemestre.PeriodoLetivo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OfertaSalaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OfertaSalaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OfertaSalaID })
        </td>
    </tr>
}

</table>
